---
import BaseLayout from '@layouts/BaseLayout.astro';
import USWSDAlert from '@components/USWDSAlert.astro'
import Hero from '@components/Hero.astro';
import CTAHeroSection from '@components/CTAHeroSection.astro';
import IconList from '@components/IconList.astro';
import ArrowListItem from '@components/ArrowListItem.astro';
import ImageList from '@components/ImageList.astro';
import ImageListItem from '@components/ImageListItem.astro';
import CalloutImageBox from '@components/CalloutImageBox.astro';
import OasisHelpFooter from '@components/OasisHelpFooter.astro';

import callout_background from "@assets/images/message-background.png";
import oasis_cta_buy from "@assets/images/buy-through-oasis.svg";
import oasis_cta_plan from "@assets/images/join-oasis-image.svg";

import oasis_logo_white from "@assets/images/oasis-logo-reversed.svg";
import wosb from "@assets/images/sba-icons/wosb-certified.svg";
import service_owned from "@assets/images/sba-icons/service-disabled-veteran-owned.svg";
import eight_a from "@assets/images/sba-icons/8-a.svg";
import hub_zone from "@assets/images/sba-icons/hub-zone.svg";
import unrestricted from "@assets/images/sba-icons/unrestricted.svg";
import total_small_business from "@assets/images/sba-icons/total-small-business.svg";
import management_icon from "@assets/images/domain-icons/management.svg";
import facilities_icon from "@assets/images/domain-icons/facilities.svg";
import tech_engineering_icon from "@assets/images/domain-icons/tech.svg";
import logistics_icon from "@assets/images/domain-icons/logistics.svg";
import intelligence_icon from "@assets/images/domain-icons/intelligence.svg";
import r_d_icon from "@assets/images/domain-icons/research.svg";
import environmental_icon from "@assets/images/domain-icons/sustainability.svg";
import enterprise_icon from "@assets/images/domain-icons/enterprise.svg";
import oasis_cta_manage from "@assets/images/oasis-cta-manage.png";

const base_url = import.meta.env.BASE_URL;
---

<BaseLayout
  title="One Acquisition for Integrated Services Plus OASIS+"
  description="OASIS plus (OASIS+) is GSA’s governmentwide multi-agency, multiple award indefinite, delivery indefinite quantity (IDIQ) contract for non-IT services."
  show_site_link=false
>
  <main id="main-content">
    <Hero>
      <img src={oasis_logo_white.src} id="oasis-homepage-logo" alt="OASIS-plus, one acquisition solution for integrated services plus" />
      <Fragment slot="stars">
        <div class="oasis-banner__highlight">
          <div>★ Governmentwide</div>
          <div>★ Multiple award IDIQ</div>
        </div>
        <div class="oasis-banner__highlight">
          <div>★ Continuous on-ramping</div>
          <div>★ Best-in-Class</div>
        </div>
      </Fragment>
      <Fragment slot="callout">
        <p>
          We are the largest governmentwide, multi-agency contract program that provides professional services via six Indefinite Delivery, Indefinite Quantity (IDIQ) contracts.
        </p>
        <div class="oasis-banner__actions">
          <div class="oasis-banner__action">
            <a href={`${base_url}about/`} class="usa-button">Learn more about OASIS+</a>
          </div>
        </div>
      </Fragment>
    </Hero>

    <div class="grid-container">
      <USWSDAlert heading="Announcements and upcoming dates">
<p><strong>Notice of a Delay of OASIS+ Small Business Awards:</strong> August 13, 2024 - Learn more from the <a class="usa-link usa-link--external" href="https://buy.gsa.gov/interact/community/196/activity-feed">OASIS+ Interact Community blog.</a> </p>

<p><strong>OASIS+ Small Business Awards Announcement:</strong> July 30, 2024 - The OASIS+ Small Business announcements were published on <a href="https://sam.gov/opp/ccc8988feb9c4823a584353dbde0b3db/view" class="usa-link usa-link--external">SAM.GOV</a>.</p>
 

      <p><strong>Initial proposal submissions:</strong> Closed on October 20, 2023.</p>
        <p>Upcoming dates:</p>
        <ul>
          <li>Estimated award dates: Throughout Q4 FY 2024 and Q1 FY 2025.</li>
          <li>Notice to Proceed (official start date to buy or sell services): Estimated Q4 FY 2024 and Q1 FY 2025.</li>
          <li>Solicitations re-open: The OASIS+ Solicitations will re-open in FY25 and will be continuously open to receive offers.</li>
        </ul>
        <p>
          <a class="usa-link usa-link--external" href="https://buy.gsa.gov/interact/community/196/activity-feed">Visit the OASIS+ Interact Community for additional updates and announcements.</a>
        </p>
      </USWSDAlert>

      <CTAHeroSection hero_image={oasis_cta_buy} hero_alt="Two people facing each other with a checkmark in front of the shorter person.">
        <h2>Buy through OASIS+</h2>
        <IconList>
        {
          [
            `Learn more about buying with the <a href="${base_url}buyers-guide/" class="usa-link">OASIS+ Buyers’ Guide.</a>`,
            `Get <a href="${base_url}events-training/" class="usa-link">Delegation of Procurement Authority or DPA training.</a>`,
            `Determine the <a href="${base_url}buyers-guide/research-contract-features/" class="usa-link">best OASIS+ contract for your requirements.</a>`,
            `Learn how <a href="${base_url}about/oasis-plus-comparison/" class="usa-link">OASIS+ compares to legacy OASIS.</a>`,
          ].map(s => <ArrowListItem set:html={s}/>)}
      </IconList>

    </CTAHeroSection>

    <CTAHeroSection hero_image={oasis_cta_manage} hero_alt="Person standing while touching two different bar charts.">
      <h2>Manage your OASIS+ contract</h2>
      <IconList>
        {
          [
            `View <a href="${base_url}/sellers-guide/reporting/" class="usa-link">reporting requirements</a>`,
            `Learn more about managing your contract (coming soon)`,
            `Learn how to <a href="${base_url}sellers-guide/compete-for-task-orders/" class="usa-link">compete for task orders</a>`,
          ].map(s => <ArrowListItem set:html={s}/>)
        }
      </IconList>
    </CTAHeroSection>

    <CTAHeroSection hero_image={oasis_cta_plan} hero_alt="Browser window displaying a progress indicator in front of a person giving a thumbs-up.">
      <h2>Plan to get on OASIS+</h2>
      <IconList>
        {
          [
            `Learn more about the selling process in the <a href="${base_url}sellers-guide/" class="usa-link">OASIS+ Sellers’ Guide.</a>`,
            `Learn how <a href="${base_url}about/oasis-plus-comparison/" class="usa-link">OASIS+ compares to legacy OASIS.</a>`,
          ].map(s => <ArrowListItem set:html={s}/>)
        }
      </IconList>
    </CTAHeroSection>

    </div>

      <section class="usa-section usa-section--dark">
        <div class="grid-container">
          <div class="grid-row grid-gap margin-bottom-4">
            <div class="tablet:grid-col">
                <h2 class="margin-top-0">OASIS+ contracts</h2>
                <p>OASIS+ has six separate and distinct IDIQ contracts. The size and type of your business determines what contract you are eligible for.</p>
                <IconList>
                  {
                    [
                      'Total Small Business (SB)',
                      'Women-owned Small Business',
                      'Service Disabled Veteran-Owned Small Business',
                      'HUBZone Small Business',
                      '8(a) Small Business',
                      'Unrestricted'
                    ].map(s => <ArrowListItem>{s}</ArrowListItem>)
                  }
                </IconList>
                <p>
                  <a href=`${base_url}sellers-guide/review-solicitations/` class="usa-button usa-button--outline usa-button--inverse">
                    View master contracts
                  </a>
                </p>
            </div>
            <div class="tablet:grid-col margin-left-8">
              <div class="grid-row grid-gap margin-top-6">
                <img src={total_small_business.src} alt="Total Small Business (SB) icon" style="width:40%;"/>
                <img src={wosb.src} alt="SBA Woman-owned small business certified icon" style="width:40%"/>
              </div>
              <div class="grid-row grid-gap margin-top-6">
                <img src={service_owned.src} alt="Service-owned veteran-owned certified icon" style="width:40%"/>
                <img src={hub_zone.src} alt="HUB zone cerfified icon" style="width:40%"/>
              </div>
              <div class="grid-row grid-gap margin-top-6">
                <img src={eight_a.src} alt="8(a) certified icon" style="width:40%"/>
                <img src={unrestricted.src} alt="Unrestricted icon" style="width:40%"/>
              </div>
            </div>
           </div>
          <div class="oasis-reversed-box grid-row bg-white padding-x-4 mobile-lg:margin-left-neg-4 mobile-lg:margin-right-neg-4">
            <div class="desktop:grid-col-4">
              <h2>Domains and labor categories</h2>
                <p>
                  Domains are functionally aligned groupings of related non-IT services. Each domain includes multiple, related North American Industry Classification System (NAICS) codes. Domains and NAICS codes help determine the scope of a contract.
                </p>
                <p>
                  <a href=`${base_url}about/domains-naicscodes-scope-labor-categories` class="usa-link">Learn more about domains and labor categories</a>
                </p>
            </div>
            <div class="desktop:grid-col-8">
              <div class="grid-container">
                <div class="grid-row grid-gap">
                  <div class="mobile-lg:grid-col-6">
                    <ImageList>
                      {[
                        ['Management & Advisory', management_icon,'about/domains-naicscodes-scope-labor-categories/#-management-and-advisory'],
                        ['Facilities', facilities_icon, 'about/domains-naicscodes-scope-labor-categories/#-facilities-fac'],
                        ['Technical & Engineering', tech_engineering_icon,'about/domains-naicscodes-scope-labor-categories/#-technical-and-engineering-te'],
                        ['Logistics', logistics_icon,'about/domains-naicscodes-scope-labor-categories/#-logistics-log']
                      ].map(([text, img, url]) =>  <ImageListItem image={img} image_width="50px" url={url}>{text}</ImageListItem>) }
                    </ImageList>
                  </div>

                  <div class="mobile-lg:grid-col-6">
                    <ImageList>
                    {[
                      ['Intelligence Services', intelligence_icon,'about/domains-naicscodes-scope-labor-categories/#-intelligence-services-intel'],
                      ['Research & Development', r_d_icon,'about/domains-naicscodes-scope-labor-categories/#-research-and-development-rd'],
                      ['Environmental', environmental_icon,'about/domains-naicscodes-scope-labor-categories/#-environmental-env'],
                      ['Enterprise Solutions ', enterprise_icon,'about/domains-naicscodes-scope-labor-categories/#-enterprise-solutions']
                    ].map(([text, img, url]) =>  <ImageListItem image={img} image_width="50px" url={url}>{text}</ImageListItem>) }
                    </ImageList>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <CalloutImageBox background_image={callout_background}>
        <Fragment slot="header">
          Find out what’s next
        </Fragment>
        <h3>
          Get the latest news and updates from the OASIS+ Interact community.
        </h3>
        <p>
          <a href="https://buy.gsa.gov/interact/community/196/activity-feed" class="usa-button usa-button--outline usa-link--external icon-button">
            Explore OASIS+ Interact Community
          </a>
        </p>
      </CalloutImageBox>

      <OasisHelpFooter />
  </main>
</BaseLayout>

