---
import BaseLayout from '@layouts/BaseLayout.astro';
import USWSDAlert from '@components/USWDSAlert.astro'
import Hero from '@components/Hero.astro';
import CTAHeroSection from '@components/CTAHeroSection.astro';
import IconList from '@components/IconList.astro';
import ArrowListItem from '@components/ArrowListItem.astro';
import ImageList from '@components/ImageList.astro';
import ImageListItem from '@components/ImageListItem.astro';
import CalloutImageBox from '@components/CalloutImageBox.astro';
import OasisHelpFooter from '@components/OasisHelpFooter.astro';

import callout_background from "@assets/images/message-background.png";
import oasis_cta_buy from "@assets/images/buy-through-oasis.svg";
import oasis_cta_plan from "@assets/images/join-oasis-image.svg";

import wosb from "@assets/images/sba-icons/wosb-certified.svg";
import service_owned from "@assets/images/sba-icons/service-disabled-veteran-owned.svg";
import eight_a from "@assets/images/sba-icons/8-a.svg";
import hub_zone from "@assets/images/sba-icons/hub-zone.svg";
import unrestricted from "@assets/images/sba-icons/unrestricted.svg";
import total_small_business from "@assets/images/sba-icons/total-small-business.svg";
import management_icon from "@assets/images/domain-icons/management.jpg";
import facilities_icon from "@assets/images/domain-icons/facilities.jpg";
import tech_engineering_icon from "@assets/images/domain-icons/tech-and-engineering.jpg";
import logistics_icon from "@assets/images/domain-icons/logistics.jpg";
import intelligence_icon from "@assets/images/domain-icons/intelligence.jpg";
import r_d_icon from "@assets/images/domain-icons/r-and-d.jpg";
import environmental_icon from "@assets/images/domain-icons/environmental.jpg";
import enterprise_icon from "@assets/images/domain-icons/enterprise.jpg";

const base_url = import.meta.env.BASE_URL;
---

<BaseLayout 
  title="One Acquisition for Integrated Services Plus OASIS+"
  description="OASIS plus (OASIS+) is GSA’s governmentwide multi-agency, multiple award indefinite delivery indefinite quantity (IDIQ) contract for non-IT services."
  show_site_link=false
>
  <main id="main-content">
    <Hero>
      One Acquisition Solution for Integrated Services Plus (OASIS+)
      <Fragment slot="stars">
        <div class="oasis-banner__highlight">★ Governmentwide</div>
        <div class="oasis-banner__highlight">★ Multiple award IDIQ</div>
        <div class="oasis-banner__highlight">★ Continuous on-ramping</div>
      </Fragment>
      
      <Fragment slot="callout">
        <p>
          We are the largest governmentwide, multi-agency contracting program that provides professional services via six Indefinite Delivery Indefinite Quantity (IDIQ) contract families.
        </p>
        <div class="oasis-banner__actions">
          <div class="oasis-banner__action">
            <a href={`${base_url}about/`} class="usa-button">Learn more about OASIS+</a>
          </div>
        </div>
      </Fragment>
    </Hero>

    <div class="grid-container">
      <USWSDAlert heading="Updates and announcements">
        <ul>
          <li>Initial proposal submissions: Closed.</li>
          <li>Awards issued: No later than [date]. Until we award contracts, it is not possible to buy services.</li>
          <li>You cannot currently submit an offer to join OASIS+. Solicitations will reopen in FY25 and will be continuously open from that point forward.</li>
        </ul>
        <p>
          <a class="usa-link" href="https://buy.gsa.gov/interact/community/196/activity-feed">Visit the OASIS+ Interact Community for updates and announcements.</a>
        </p>
      </USWSDAlert>

      <CTAHeroSection hero_image={oasis_cta_buy} hero_alt="Two people facing each other with a checkmark in front of the shorter person.">
        <h2>Buy through OASIS+</h2>
        <IconList>
        {
          [
            `Learn more about buying with the <a href="${base_url}buyers-guide/" class="usa-link">OASIS+ Buyers’ Guide</a>`,
            `Get <a href="${base_url}events-training/" class="usa-link">Delegation of Procurement Authority (DPA) training.</a>`,
            `Determine the <a href="${base_url}buyers-guide/research-contract-features/" class="usa-link">best OASIS+ contract for your requirements.</a>`,
            `Learn how <a href="${base_url}about/oasis-plus-comparison/" class="usa-link">OASIS+ compares to OASIS Legacy.</a>`,
          ].map(s => <ArrowListItem set:html={s}/>)}
      </IconList>

    </CTAHeroSection>
    
    <CTAHeroSection hero_image={oasis_cta_plan} hero_alt="Browser window displaying a progress indicator in front of a person giving a thumbs-up.">
      <h2>Plan to get on OASIS+</h2>
      <IconList>
        {
          [
            `Learn more about the selling process in the <a href="${base_url}sellers-guide/" class="usa-link">OASIS+ Sellers’ Guide.</a>`,
            `Learn how <a href="${base_url}about/oasis-plus-comparison/" class="usa-link">OASIS+ compares to OASIS Legacy.</a>`,
          ].map(s => <ArrowListItem set:html={s}/>)
        }
      </IconList>
    </CTAHeroSection>
    
    </div>
   
      <section class="usa-section usa-section--dark">
        <div class="grid-container">
          <div class="oasis-reversed-box grid-row grid-gap margin-bottom-4 bg-white ">
            <div class="desktop:grid-col-4">
              <h2>Domains</h2>
                <p>
                  Domains are functionally aligned groupings of related non-IT services. Each domain includes multiple, related North American Industry Classification System or NAICS codes. Domains and NAICS codes help determine the scope of a contract.
                </p>
                <p>
                  <a href=`${base_url}domains-labor-categories` class="usa-link">Learn more about domains and labor categories</a>
                </p>
            </div>
            <div class="desktop:grid-col-8">
              <div class="grid-container">
                <div class="grid-row grid-gap">
                  <div class="mobile-lg:grid-col-6">
                    <ImageList>
                      {[
                        ['Management & Advisory', management_icon],
                        ['Facilities', facilities_icon],
                        ['Technical & Engineering', tech_engineering_icon],
                        ['Logistics', logistics_icon]
                      ].map(([text, img]) =>  <ImageListItem image={img} image_width="50px">{text}</ImageListItem>) }
                    </ImageList>
                  </div>
                
                  <div class="mobile-lg:grid-col-6">
                    <ImageList>
                    {[
                      ['Intelligence Services', intelligence_icon],
                      ['Research & Development', r_d_icon],
                      ['Environmental', environmental_icon],
                      ['Enterprise Solutions ', enterprise_icon]
                    ].map(([text, img]) =>  <ImageListItem image={img} image_width="50px">{text}</ImageListItem>) }
                    </ImageList>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-row grid-gap margin-bottom-4">
          <div class="tablet:grid-col">
              <h2>OASIS+ contract families </h2>
              <p>OASIS+ has six separate and distinct IDIQ contract families. The size and type of your business determines what contract you are eligible for.</p>
              <IconList>
                {
                  [
                    'Total Small Business', 
                    'Women-owned Small Business', 
                    'Service Disabled Veteran-Owned Small Business',
                    'HUBZone Small Business',
                    '8(a) Small Business',
                    'Unrestricted'
                  ].map(s => <ArrowListItem>{s}</ArrowListItem>)
                }
              </IconList>
              <p>
                <a href=`${base_url}about/contract-families/` class="usa-button usa-button--outline usa-button--inverse">
                  View master contracts
                </a>
              </p>
          </div>
          <div class="tablet:grid-col">
            <div class="grid-row grid-gap margin-top-6">
              <img src={wosb.src} alt="SBA Woman-owned small business certified icon" style="width:33%"/>
              <img src={service_owned.src} alt="Service-owned veteran-owned certified icon" style="width:33%"/>
              <img src={unrestricted.src} alt="Unrestricted icon" style="width:33%"/>
            </div>
            <div class="grid-row grid-gap margin-top-4">
              <img src={eight_a.src} alt="8(a) certified icon" style="width:33%"/>
              <img src={hub_zone.src} alt="HUB zone cerfified icon" style="width:33%"/>
              <img src={total_small_business.src} alt="Total small business icon" style="width:33%"/>
            </div>
          </div>
         </div>    
        </div>
      </section>
      
      <CalloutImageBox background_image={callout_background}>
        <Fragment slot="header">
          Find out what’s next
        </Fragment>
        <h3>
          Get the latest news and updates from the OASIS+ Interact community.
        </h3>
        <p>
          <a href="https://buy.gsa.gov/interact/community/196/activity-feed" class="usa-button usa-button--outline">
            Explore Interact
          </a>
        </p>
      </CalloutImageBox>

      <OasisHelpFooter / >    
  </main>
</BaseLayout>
	