---
const {image, image_width, url, alt} = Astro.props;
---
<li class="usa-icon-list__item padding-bottom-2">
    <div class="usa-icon-list__icon">
      <a href={`${import.meta.env.BASE_URL}${url}`} aria-label={alt}>
        <img src={image.src} style=`width:${image_width}` aria-hidden="true" role="img" alt="">
      </a>
    </div>
    <div class="usa-icon-list__content">
       <slot />
    </div>
</li>