---
import GSAHeader from '@components/GSAHeader.astro';
import USAIdentifier from '@components/USAIdentifier.astro';
import Banner from '@components/Banner.astro';
import LastModified from "@components/LastModified.astro"

const { title, description, show_site_link, last_modified} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script is:inline src={`${import.meta.env.BASE_URL}js/uswds-init.min.js`}></script>
    <link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles/styles.css`} />
    <script is:inline type="text/javascript">
      var recaptcha_site_key = '6Ld9SegUAAAAAB-cac89z4iV1EzhN5va_TykKhAg';
    </script>

    <script is:inline type="text/javascript"  src="https://www.gstatic.com/recaptcha/releases/8k85QBI-qzxmenDv318AZH30/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-YaLdSXMqm9CEKTpOkSnpu5vAhzVfmtaskI7GboiAj0dVtvfpzmGU1XBINZ7hs6ET"></script>
    <!-- <script is:inline src="https://preview.gsa.gov/sites/gsa.gov/files/js/js_TgjZymOLumwsZF23eCp1TzRQiqqV_u1bTIkHIqUv6nQ.js?scope=footer&delta=1&language=en&theme=gsa&include=eJx9U1ty6yAM3RAxH3dBjIwVrAYMI8lu09UXQ-I6vdN-2Ojo_ZxAIcId2Y44w0aZxQgpUiqcN7QneqgfV93f5EbuopjsCIJmlfdJbPs_6InXAtH4CCL3rvSgE4pAQDE-M9olc4JIn2iCgJ2gOGXwN1pCYxSmRZGN5kLelWrn_CqaE32CUl7E0kLqxDMVbRYh5hHipXNqkFRsAoqar_TRQ_bUBvBKG14iLbez-2vONaDtj4s0MvDdhJxDRKcQbND0CiH8xAO8wYcpyBNhcppzdGPM_mafrO6WahP-UEpQZC_JRbyqW2CzZ9CVT55Ea0dEyT-bP3xzzFzfzLX5wLcLyIURpuab0l40phEn-wMbRg9F_Qxu-2fPoFkeDPuC2hBoKau6rQ52amMyBRgCQ5mP5L45w1q1x0gy15iFcSN8d43j7RPiPkO3z6rXbXR0CQMkXNa-XWeG6D3WjkxUs9qHbA_KvfWWXuva1Zz3HdiX6H9W01IYq58mrXVAh85LlXJei92HNgL_ekJP-Sp1ox517_RAfg9Rf4qLujbIH2v9NIUp0eIeqL2HrHkxMmdWv-ox9Ad-tTxslBH_EA3zfvbU8jK1XrFzTtgvo13KSMEVKmifxBe5VbPw" /> -->
    
    <link rel="icon" type="image/png" sizes="32x32" href={`${import.meta.env.BASE_URL}images/favicon-32x32.png`}>
    <link rel="icon" type="image/png" sizes="16x16" href={`${import.meta.env.BASE_URL}images/favicon-16x16.png`}>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content="https://www.gsa.gov/sites/gsa.gov/themes/custom/gsa/custom_assets/images/open_graph_image.jpeg">
    <title>{title}</title>

    <script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA" id="_fed_an_ua_tag"></script>
  </head>
  <body>
    <!-- <script is:inline src="https://preview.gsa.gov/sites/gsa.gov/files/js/js_GkFm3MdzU-aoqzBylR1YkBNgkAGOoyHuOsrNYtnL1u0.js?scope=footer&delta=8&language=en&theme=gsa&include=eJx9U1ty6yAM3RAxH3dBjIwVrAYMI8lu09UXQ-I6vdN-2Ojo_ZxAIcId2Y44w0aZxQgpUiqcN7QneqgfV93f5EbuopjsCIJmlfdJbPs_6InXAtH4CCL3rvSgE4pAQDE-M9olc4JIn2iCgJ2gOGXwN1pCYxSmRZGN5kLelWrn_CqaE32CUl7E0kLqxDMVbRYh5hHipXNqkFRsAoqar_TRQ_bUBvBKG14iLbez-2vONaDtj4s0MvDdhJxDRKcQbND0CiH8xAO8wYcpyBNhcppzdGPM_mafrO6WahP-UEpQZC_JRbyqW2CzZ9CVT55Ea0dEyT-bP3xzzFzfzLX5wLcLyIURpuab0l40phEn-wMbRg9F_Qxu-2fPoFkeDPuC2hBoKau6rQ52amMyBRgCQ5mP5L45w1q1x0gy15iFcSN8d43j7RPiPkO3z6rXbXR0CQMkXNa-XWeG6D3WjkxUs9qHbA_KvfWWXuva1Zz3HdiX6H9W01IYq58mrXVAh85LlXJei92HNgL_ekJP-Sp1ox517_RAfg9Rf4qLujbIH2v9NIUp0eIeqL2HrHkxMmdWv-ox9Ad-tTxslBH_EA3zfvbU8jK1XrFzTtgvo13KSMEVKmifxBe5VbPw" /> -->

    <div class="usa-overlay"></div>
    <div id="app">
      <a class="usa-skipnav" href="#main-content">Skip to main content</a>
      <Banner />
      <GSAHeader show_site_link={show_site_link}/>
      <div class="flex-fill grid-row flex flex-column height-full">
        <div class="border-top-1px border-base-lightest wide-layout">
          <slot />
        </div>
      </div>
      {last_modified && ( <LastModified last_modified={last_modified} /> )}
      <USAIdentifier />
    </div>
    <script is:inline src="https://www.google.com/recaptcha/api.js?render=6Ld9SegUAAAAAB-cac89z4iV1EzhN5va_TykKhAg" defer="" async=""></script>
    <script is:inline src={`${import.meta.env.BASE_URL}js/dpa-form.js`}></script>
    <script is:inline src={`${import.meta.env.BASE_URL}js/uswds.min.js`}></script>
  </body>
</html>